---
http_interactions:
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=apikey&s=Harry%20Potter&y=2015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 12:16:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Search":[{"Title":"R-Rated Harry Potter","Year":"2015","imdbID":"tt5324298","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BZDg1M2IzODYtNDZlYS00MGMxLTlmMzAtOWVhZWU3YmFhMDM2XkEyXkFqcGdeQXVyMjMzMzc0MjM@._V1_SX300.jpg"},{"Title":"Hufflepuff:
        A Harry Potter Rap Parody","Year":"2015","imdbID":"tt5369766","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BMjI4MzUxOTUzOV5BMl5BanBnXkFtZTgwNzIwNTQ4NzE@._V1_SX300.jpg"},{"Title":"Dark
        Lord Funk: Harry Potter Parody of Uptown Funk","Year":"2015","imdbID":"tt6898566","Type":"movie","Poster":"https://m.media-amazon.com/images/M/MV5BM2Y4ZTg1NTgtZjkzYS00MTliLWJkYmQtYjM5ZjVhYWJkZTIzXkEyXkFqcGdeQXVyNzYzMDYzNzY@._V1_SX300.jpg"}],"totalResults":"3","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 12:16:21 GMT
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=apikey&t=R-Rated%20Harry%20Potter&y=2015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 12:16:21 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"R-Rated Harry Potter","Year":"2015","Rated":"N/A","Released":"11
        Jun 2015","Runtime":"5 min","Genre":"Animation, Short, Comedy, Fantasy, Horror","Director":"Jared
        Neumark","Writer":"Benny Fine (created by), Rafi Fine (created by), Alex Wechsler,
        Benny Fine","Actors":"Benny Fine, Rafi Fine, Jeffery Patton, Amanda Rae Troisi","Plot":"An
        inappropriate spoof of Harry Potter and the Philosopher''s Stone.","Language":"English","Country":"USA","Awards":"N/A","Poster":"https://m.media-amazon.com/images/M/MV5BZDg1M2IzODYtNDZlYS00MGMxLTlmMzAtOWVhZWU3YmFhMDM2XkEyXkFqcGdeQXVyMjMzMzc0MjM@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"3.3/10"}],"Metascore":"N/A","imdbRating":"3.3","imdbVotes":"41","imdbID":"tt5324298","Type":"movie","DVD":"N/A","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 12:16:22 GMT
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=apikey&t=Hufflepuff:%20A%20Harry%20Potter%20Rap%20Parody&y=2015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 12:16:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Hufflepuff: A Harry Potter Rap Parody","Year":"2015","Rated":"N/A","Released":"10
        Dec 2015","Runtime":"N/A","Genre":"Short, Comedy, Fantasy, Music","Director":"Mary
        Rachel Gardner, Michelle Siouty, Sean Siouty","Writer":"Tre Hall, Michelle
        Siouty","Actors":"Lily Becerra, Zachary di Lello, Annelisha Dixon, Mary Rachel
        Gardner","Plot":"J.K. Rowling said it herself when she deemed 2015 \"The Dawn
        of the Age of Hufflepuff,\" so Huffle, puff, pass, and enjoy.","Language":"English","Country":"USA","Awards":"N/A","Poster":"https://m.media-amazon.com/images/M/MV5BMjI4MzUxOTUzOV5BMl5BanBnXkFtZTgwNzIwNTQ4NzE@._V1_SX300.jpg","Ratings":[],"Metascore":"N/A","imdbRating":"N/A","imdbVotes":"N/A","imdbID":"tt5369766","Type":"movie","DVD":"N/A","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 12:16:23 GMT
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=apikey&t=Dark%20Lord%20Funk:%20Harry%20Potter%20Parody%20of%20Uptown%20Funk&y=2015
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 25 Jun 2021 12:16:23 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Dark Lord Funk: Harry Potter Parody of Uptown Funk","Year":"2015","Rated":"N/A","Released":"23
        Mar 2015","Runtime":"N/A","Genre":"Short","Director":"Keith Allen","Writer":"Keith
        Allen, Elijah Thomas","Actors":"Keith Allen, Elijah Thomas","Plot":"Elijah
        Thomas plays Lord Voldemort in this amazing Harry Potter parody of \"Uptown
        Funk\" by Mark Ronson feat. Bruno Mars. - Directed by Keith Allen. Music Production
        by Marcus Joseph aka Encore.","Language":"English","Country":"USA","Awards":"N/A","Poster":"https://m.media-amazon.com/images/M/MV5BM2Y4ZTg1NTgtZjkzYS00MTliLWJkYmQtYjM5ZjVhYWJkZTIzXkEyXkFqcGdeQXVyNzYzMDYzNzY@._V1_SX300.jpg","Ratings":[],"Metascore":"N/A","imdbRating":"N/A","imdbVotes":"N/A","imdbID":"tt6898566","Type":"movie","DVD":"N/A","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 12:16:23 GMT
recorded_with: VCR 6.0.0
